html {
	background:#37385F;
	margin:auto;
	width:80%;
	
}

body{
	/*background: linear-gradient(#aaa 0, #ddd 10px, #fff 155px);
	border: 1px solid black;
	padding: 10px 20px;
	box-shadow: 5px 0px 30px #000;
	border-radius: 8px;*/
}

h1 {
	text-align: center;
	color: #fff;
	margin: 0 0 30px;
}

.button {
	color: #333;
	background: linear-gradient(#eee, #ddd);
	border: 1px solid #222;
	border-radius: 3px;
	padding: 7px;
	margin-right: 5px;
	transition: .3s;
	font-family: ubuntu, sans-serif;
	font-size: 1em;
	min-width:100px;
}

.button:active {
	background: linear-gradient(#ddd, #eee);
}

.button:hover, button:focus {
	box-shadow: 0 0 2px #222;
}

#execute2 {
	margin-top: 5px;
}
#savedb {
	margin-top: 5px;
}
#txtfile{
	margin-top: 5px;;
	width: 40%;
	min-width:100px;
}
.error {
	color:red;
	transition:.5s;
	overflow:hidden;
}

#output {
	overflow: auto;
	color: #fff;
}

table {
	width:auto;
	margin:auto;
	border:1px solid black;
 	border-collapse:collapse;
 	margin-bottom:10px;
}

th, td {
	border:1px solid #777;
}

footer {
	font-size:.8em;
	color: #fff;
}
a{
	color: #fff000;
}
menu {
	
	background: #444;
}
#menu {
	
	text-align: center;
	background: #111;
	
}
#filename{
	color: #fff;
	margin: 26px 26px 26px;
	cursor: pointer;
	font-size: 2em;
	overflow: hidden;
}
.inputarea{
	width: 70%;
	min-height: 70px;
	border: 2px dashed #fff;
	border-radius: 3px;
	position: relative;
	/*margin: 26px 26px 26px;*/
	transition: 0.9s;
}
.file-input {
	
	left: 0;
	top: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: absolute;

}
.inputarea:hover {
    background-color: #3F4069;
  } 
